<app-nav></app-nav>
<app-hero [elementToScrollto]="introPics"></app-hero>

<section #introPics id="intro-pics" class="section root-container" style="position: relative;">
  <div id="pics-append-arrows">
    <span id="pics-count" class="count">
      1 / 2
    </span>
  </div>

  <div class="intro-pics">
    <article class="picture-box">
      <figure class="picture">
        <img src="/assets/img/image1.jpg" alt="soccer" srcset="">
      </figure>
      <header class="text">
        <h2>Bosshalls</h2>
        <p>
          is a leading streaming provider in making radio sports and
          entertainment review shows extremely visual
        </p>
      </header>
    </article>

    <article class="picture-box">
      <figure class="picture">
        <img src="/assets/img/image2.jpg" alt="soccer" srcset="">
      </figure>
      <header class="text">
        <h2>Bosshalls</h2>
        <p>
          connect your home and radio-studio camera to bosshalls and bring your audience community
          to your streaming hall and make their imagination come to life.
        </p>
      </header>
    </article>

  </div>
</section>

<div class="line root-container picture-box-margin-fix">
  <div class="stroke"></div>
</div>

<section id="intro-vids" class="section">
  <div id="vids-slide-arrows">
    <div id="vids-append-arrows">
      <span id="vids-count" class="count">
        1 / 6
      </span>
    </div>
  </div>

  <div class="intro-vids">
    <article *ngFor="let video of videos" class="video-box">
      <video #vid class="video" (click)="stopPlay(vid, icon)">
        <source [src]="video.url" [type]="video.mime">Your browser does not support videos.
      </video>
      <span #icon class="play-icon" (click)="playVideo(vid, icon)">
        <svg class="svg-icon">
          <use xlink:href="#play"></use>
        </svg>
      </span>
      <h1>{{video.title}}</h1>
    </article>
  </div>

</section>

<div class="line root-container">
  <div class="stroke"></div>
</div>

<section id="tailored-for" class="section root-container">
  <h2>Tailored For...</h2>
  <ul class="tailored-for">
    <li class="for-whom">
      <figure>
        <img src="/assets/img/thumb1.jpg" alt="thumb" srcset="">
        <figcaption>OAPs</figcaption>
      </figure>
    </li>
    <li class="for-whom">
      <figure>
        <img src="/assets/img/thumb2.jpg" alt="thumb" srcset="">
        <figcaption>Non-OAPs</figcaption>
      </figure>
    </li>
    <li class="for-whom">
      <figure>
        <img src="/assets/img/thumb3.jpg" alt="thumb" srcset="">
        <figcaption>Sports journalists</figcaption>
      </figure>
    </li>
    <li class="for-whom">
      <figure>
        <img src="/assets/img/thumb4.jpg" alt="thumb" srcset="">
        <figcaption>Athletes & Ex-athletes</figcaption>
      </figure>
    </li>
    <li class="for-whom">
      <figure>
        <img src="/assets/img/thumb5.jpg" alt="thumb" srcset="">
        <figcaption>Movie critics</figcaption>
      </figure>
    </li>
    <li class="for-whom">
      <figure>
        <img src="/assets/img/thumb6.jpg" alt="thumb" srcset="">
        <figcaption>Entertainment</figcaption>
      </figure>
    </li>
  </ul>
</section>

<div class="line root-container"></div>

<section id="app-features" class="section root-container">
  <article>
    <header>
      <h2>App Features</h2>
    </header>
    <div class="app-features">
      <ul>
        <li>
          <span>
            <svg class="svg-icon">
              <use xlink:href="#monitor"></use>
            </svg>
          </span>
          Auto and manual content display
        </li>
        <li>
          <span>
            <svg class="svg-icon">
              <use xlink:href="#account-group-outline"></use>
            </svg>
          </span>
          Virtual guest invitation
        </li>
        <li>
          <span>
            <svg class="svg-icon">
              <use xlink:href="#record-circle-outline"></use>
            </svg>
          </span>
          VOD recording
        </li>
      </ul>
      <figure>
        <img src="/assets/img/phone.png" alt="Mobile" srcset="">
      </figure>
    </div>
  </article>

</section>

<app-footer></app-footer>
