@import "src/variables";

.about-box:nth-of-type(even) {
    .one {
        order: 1;
    }
}

.text-container {
    width: 100%;
    margin: $margin auto;
    text-align: center;
    padding: 0 $padding / 2;

    @media (min-width: 48em) {
        width: 60%;
        padding: 0 $padding;
    }
}

.about-box {
    background-color: #fcfeff;
    margin-top: $margin;
    margin-bottom: $margin;

    @media (min-width: 48em) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .one,
    .two {
        flex-basis: 45%;
        padding: $padding 0;

        @media (min-width: 48em) {
            padding: $page-padding 0;
        }

        h2 {
            font-weight: 1em;
            color: $primary;
            text-transform: uppercase;
            line-height: 1;
            margin: $margin / 2 0;
        }

        p {
            font-size: 0.8em;
        }
    }
}

.video-box {
    position: relative;
    color: $link;
    margin: auto;
    text-align: center;

    h1 {
        font-size: 0.85em;
        text-align: center;
        font-weight: bolder;
        margin: auto;
        margin-top: 1em;
        margin-bottom: -2em;
        color: $default-font-color;

        @media (min-width: 48em) {
            width: 50%;
        }
    }

    .video {
        max-height: 90vh;
        min-height: 20vh;
        border-radius: 1em;
        background-color: $primary;

        @media (min-width: 48em) {
            min-height: 40vh;
        }

        @media (min-width: 64em) {
            min-height: 70vh;
        }
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5em;
        height: 5em;
        cursor: pointer;
        display: none; // it shows badly on mobile due to mobile's own forced icon

        @media (min-width: 48em) {
            display: inline-flex;
        }

        .svg-icon {
            position: relative;
            top: -50%;
            left: -50%;
            height: 100%;
            width: 100%;
        }
    }
}

.bottom-image {
    display: flex;
    justify-content: center;
    margin-top: 8em;
    background: linear-gradient(0deg, rgba(33, 101, 131, 0.33), rgba(33, 101, 131, 0.33)), url('/assets/img/rectangle2.jpg');
    box-shadow: 0px 20px 60px rgba(34, 34, 34, 0.2);
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    vertical-align: middle;

    @media (min-width: 64em) {
        min-height: 412px;
    }

    p {
        align-self: center;
        color: white;
        margin: $padding;
        font-size: 1.6em;

        @media (min-width: 48em) {
            max-width: 70%;
            margin: auto $page-padding;
        }
    }
}