<app-nav></app-nav>

<app-banner [text]="'About'"></app-banner>

<div class="root-container">
    <main class="text-container">
        Bosshalls is a live streaming platform that allows radio/non-radio presenters to display
        contents that represent the message of their broadcast during sports, entertainment review
        shows.
    </main>
</div>

<section id="about-details" class="section">
    <article class="about-box root-container">
        <div class="one">
            <p style="font-size: 1.5em;">Bosshalls targets categories like</p>
            <ul style="font-size: 0.9em;">
                <li>
                    <h2>Sports</h2>
                </li>
                <li>
                    <h2>Entertainment</h2>
                </li>
                <li>
                    <h2>Variety</h2>
                </li>
            </ul>
        </div>
        <div class="two">
            <figure class="image">
                <img src="/assets/img/640x360.png" alt="About">
            </figure>
        </div>
    </article>

    <article class="about-box root-container">
        <div class="one">
            <h2>Ideology</h2>
            <p>
                Yes, radio content can be seen more than just listening and imagining. Even though
                radio presenters currently can be seen live on screen across social platforms while
                broadcasting, Extreme Visual Broadcast is a new norm and slogan that can go a long
                way in transforming their broadcasting experience and add way more value to the
                presenter's career,audience and work-flow.
            </p>
        </div>
        <div class="two">
            <figure class="image">
                <img src="/assets/img/640x360.png" alt="About">
            </figure>
        </div>
    </article>

    <article class="about-box root-container">
        <div class="one">
            <h2>E.V.B</h2>
            <p>
                E.V.B- Extreme Visual Broadcast was coined at bosshall to illustrate a new
                broadcasting format in the audio-media industry where OAPs goes extreme from
                displaying their studio cameras on-screen to displaying videos and pictures that
                represents the message of their broadcast as they analyze them. This was inspired by
                consumer’s hunger to see more sports and entertainment content than imagine a lot of
                moments from the scenes as they consume live content.
            </p>
        </div>
        <div class="two">
            <figure class="image">
                <img src="/assets/img/640x360.png" alt="About">
            </figure>
        </div>
    </article>

    <article class="about-box root-container">
        <div class="one">
            <h2>Platform Brainstorm</h2>
            <p>
                The real strength of cloud communication is its flexibility. We resorted to cloud
                technology to help us on this mission after copious research and trials. When a
                diverse mode of cloud communication is being hosted in infrastructure, the
                application becomes more useful for businesses especially when it is tailored to
                their work-flow.
            </p>
        </div>
        <div class="two">
            <figure class="image">
                <img src="/assets/img/640x360.png" alt="About">
            </figure>
        </div>
    </article>

</section>

<section id="bottom" class="section root-container">
    <article class="video-box">
        <video class="video">
            <source src="/assets/vids/video1.mp4" type="video/mp4">Your browser does not support
            videos.
        </video>
        <span class="play-icon">
            <svg class="svg-icon">
                <use xlink:href="#play"></use>
            </svg>
        </span>
        <h1>At bosshalls, we channel our innovation energy to help recreate audio-media broadcasting
            and consuming experience.
        </h1>
    </article>

    <div class="bottom-image">
        <!-- <img src="/assets/img/rectangle2.jpg" alt="Bosshalls" srcset=""> -->
        <p>
            We strongly believe that audio-media presenters can seamlessly make their consumers'
            imagination come to live.
        </p>
    </div>
</section>

<app-footer></app-footer>