app-include-connected-attendance-component {
  .broadcast-attendance-connected {
    /*
        padding-top: 10px;
        padding-bottom: 10px;*/
  }

  .button {
    margin: 5px;

    .material-icons {

    }
  }


}