<app-nav></app-nav>

<app-banner [text]="'Frequently Asked Questions'"></app-banner>

<section id="faq" class="root-container section">
    <article class="question">
        <header>
            <span class="icon">
                <svg class="svg-icon">
                    <use xlink:href="#plus-circle-outline"></use>
                </svg>
            </span>
            <h2>Who can use bosshalls?</h2>
        </header>
        <p></p>
    </article>
    <div class="line root-container">
        <div class="stroke"></div>
    </div>

    <article class="question">
        <header>
            <span class="icon">
                <svg class="svg-icon">
                    <use xlink:href="#minus-circle-outline"></use>
                </svg>
            </span>
            <h2>Must I create my brand profile to broadcast on bosshalls?</h2>
        </header>
        <p>
            Yes you have to signup your user profile first. This profile is strictly under your
            control and can't be accessed by bosshalls and other users. Then if you have a virtual
            or physical media brand, you will need to create your brand profile to run bosshalls
            broadcast.
        </p>
    </article>
    <div class="line root-container">
        <div class="stroke"></div>
    </div>

    <article class="question">
        <header>
            <span class="icon">
                <svg class="svg-icon">
                    <use xlink:href="#minus-circle-outline"></use>
                </svg>
            </span>
            <h2>Is my data on bosshalls safe?</h2>
        </header>
        <p>
            Yes your data is safe on bosshalls. On the client side you manage your personal data
            and no one sees our profile page. See bosshalls privacy to see more on keeping your
            data safe.
        </p>
    </article>
    <div class="line root-container">
        <div class="stroke"></div>
    </div>
    <article class="question">
        <header>
            <span class="icon">
                <svg class="svg-icon">
                    <use xlink:href="#minus-circle-outline"></use>
                </svg>
            </span>
            <h2>Is my data on bosshalls safe?</h2>
        </header>
        <p>
            Yes your data is safe on bosshalls. On the client side you manage your personal data
            and no one sees our profile page. See bosshalls privacy to see more on keeping your
            data safe.
        </p>
    </article>
    <div class="line root-container">
        <div class="stroke"></div>
    </div>
    <article class="question">
        <header>
            <span class="icon">
                <svg class="svg-icon">
                    <use xlink:href="#minus-circle-outline"></use>
                </svg>
            </span>
            <h2>Is my data on bosshalls safe?</h2>
        </header>
        <p>
            Yes your data is safe on bosshalls. On the client side you manage your personal data
            and no one sees our profile page. See bosshalls privacy to see more on keeping your
            data safe.
        </p>
    </article>
    <div class="line root-container">
        <div class="stroke"></div>
    </div>
    <article class="question">
        <header>
            <span class="icon">
                <svg class="svg-icon">
                    <use xlink:href="#minus-circle-outline"></use>
                </svg>
            </span>
            <h2>Is my data on bosshalls safe?</h2>
        </header>
        <p>
            Yes your data is safe on bosshalls. On the client side you manage your personal data
            and no one sees our profile page. See bosshalls privacy to see more on keeping your
            data safe.
        </p>
    </article>
</section>

<app-footer></app-footer>