<app-nav></app-nav>

<app-banner [text]="'Frequently Asked Questions'"></app-banner>

<section id="faq" class="root-container section">
    <article *ngFor="let question of questions; index as i" #article (click)="expandArticle(article)"
             class="question">
        <header>
            <span class="icon" [innerHTML]="getIcon(i)"></span>
            <h2>{{question.question}}</h2>
        </header>
        <p>{{question.answer}}</p>
        <div class="line root-container">
            <div class="stroke"></div>
        </div>
    </article>
</section>

<app-footer></app-footer>
