<div class="skeleton">
    <header class="hero skeleton-main">
  
      <main class="root-container">
        <h2>
          <svg class="svg-icon">
            <use xlink:href="#star"></use>
          </svg>
          <span style="align-self: flex-end; line-height: 1;">Only visual radio solution</span>
        </h2>
        <h1>With Bosshalls Comes Greater Media Experience</h1>
        <p>
          Bosshalls allows radio presenters to display videos/pictures that represent the message
          of their entertainment, sports review shows during broadcasts.
        </p>
      </main>
  
      <div class="explore-button root-container">
        <a (click)="scrollDown()">Explore <svg class="svg-icon">
            <use xlink:href="#chevron-down-circle-outline"></use>
          </svg>
        </a>
      </div>
  
    </header>
  
    <aside class="beside-hero">
      <h3 style="text-align: center;">Get started now</h3>
      <app-login></app-login>
    </aside>
  </div>