<app-nav></app-nav>

<app-banner [text]="'Privacy Policy'"></app-banner>

<section id="policy" class="root-container section">
    <p class="section">
        Bosshalls uses social integration to give users seamless signup and loging access. By
        granting
        bosshals acess to authenticate you via your email address,you automatically signup via your
        mail. Your mail address gives you seamless access to bosshalls services.
    </p>

    <p class="section">
        Bosshalls also allow users access its services with facebook social integration. Signup and
        login via your facebook account to give bosshalls access to your data like your name,
        profile
        picture and country.
    </p>

    <p class="section">
        Visit your customized user profile page to add and edit your data like location, interest,
        bio,
        name, profile picture. This page and user information is never available to any third party
        whatsoever.
    </p>

    <div class="section">
        <h4>CREATING MEDIA BRAND PROFILE</h4>
        <p>
            Bosshalls collects media brand information like logo, brand identity, brand executive
            with
            the
            aim to make it public to your audience and potential audience and publicize your brand
            journey
            and identity which will inform and motivate your audience community.
        </p>
    </div>

    <p class="section">
        We aim to use your identity and location to inform presenters about you during live
        streaming
        for better audience engagement and as well use your location to help you locate any vendor
        in
        your base with potential interested goods and services you might value now or in future.
    </p>

    <p class="section">
        Bosshalls aim of all social integration remains for seamless accessibility and this aim can
        never be compromised in any way or another.
    </p>
</section>

<app-footer></app-footer>
