<app-nav></app-nav>

<app-banner [text]="'Privacy Policy'"></app-banner>

<main id="policy" class="root-container section">
    <article class="section">
        <h3>INTRODUCTION</h3>
        <p>
            This website is owned and operated by Bosshalls, inc. bosshalls.com is a public beta
            released streaming platform for the audio-media industry. Bosshalls uses social
            integration to give users seamless signup and login access. By granting bosshalls access
            to authenticate you via your email address,you automatically sign up via your mail. Your
            mail address gives you seamless access to bosshalls services.
        </p>
        <p>
            Bosshalls also allow users access its services with facebook social integration. Signup
            and login via your facebook account to give bosshalls access to your data like your
            name, profile picture and location.
        </p>
        <p>
            Our aim of social integration remains for seamless accessibility and this aim can never
            be compromised in any way or another.
            We respect the privacy of our users and we are committed to ensuring that our users’
            privacy is
            protected. This privacy policy explains how we collect, use, disclose, and safeguard the
            information we collect about our users when you visit our website at
            https.//bosshalls.com, or
            web application, including any other media or how you can instruct us if you prefer to
            limit the
            use of that information and procedures that we have in place to safeguard your privacy.
            Please
            read this privacy policy carefully and if you do not agree with the terms, please do not
            access the site.
        </p>
        <p>
            We reserve the right to make changes to this Privacy Policy at any time and for any
            reason. We
            will alert you about any changes by updating the “Last Updated” date of this Privacy
            Policy.
            Any changes or modifications will be effective immediately upon posting the updated
            Privacy
            Policy on our website, and you waive the right to receive specific notice of each such
            change or
            modification. You are encouraged to periodically review this Privacy Policy to stay
            informed of
            updates. You will be deemed to have been made aware of, will be subject to, and will be
            deemed to have accepted the changes in any revised Privacy Policy by your continued use
            of the website after the date such revised Privacy Policy is posted.
        </p>
    </article>

    <article class="section">
        <h3>HOW WE COLLECT YOUR INFORMATION</h3>
        <p>
            We may collect information about you in a variety of way to allow us process your
            registration
            and the relevant information is then used by us to communicate with you on any matter
            relating
            to the conduct of your account or any other information as may be required in general.
            The information we may collect on the website includes personally identifiable
            information (PII)
            such as your name, email address, contact address,and demographic
            information (DI) such as location, interests. You are under no obligation to provide us
            with
            personal information but refusal to do so may prevent you from using certain features of
            the site. When you access the site, our servers automatically collect your information
            such as your IP address, browser type, your operating system, your access time, and the
            pages you have viewed directly before and after accessing the site.
        </p>
        <p>
            We collect media brand information like logo, brand identity and brand executive,brand
            story with the aim to make it public to your audience and potential audience and also to
            publicize your brand journey and identity which will inform and motivate your audience
            community.
        </p>
        <p>
            Furthermore, we allow users of our services with Facebook social integration. Sign up
            and login via your Facebook account to give us access to your data like your social
            network username, email,location, gender, date of birth, current city, profile picture
            URL and country as well as other
            information that you choose to make public or device information, such as your mobile
            device
            ID, model, and manufacturer, and information about the location of your device, if you
            access
            the Site from a mobile device or information from third parties, such as personal
            information or
            network friends, if you connect your account to the third party and grant the site
            permission to
            access this information.
        </p>
    </article>

    <article class="section">
        <h3>HOW WE USE YOUR INFORMATION</h3>
        <p>
            We aim to use your identity and location to provide you with efficient experience with
            the
            website and such information collected about you may be used to:
        </p>
        <ul style="list-style-type: circle; margin-left: 2em;">
            <li>Create, manage and email you regarding your account.</li>
            <li>Enable user-to-user communications.</li>
            <li>Inform presenters about you during live streaming for better audience engagement.
            </li>
            <li>Help you locate any vendor in your base with potential interested goods and services
                you
                might value now or in future.
            </li>
            <li>Request feedback and notify you of updates to the website.
            </li>
            <li>Offer new services or recommendations to you.
            </li>
            <li>Resolve troubleshoot problems.
            </li>
            <li>Prevent fraudulent transactions, monitor against theft, and protect against criminal
                activity.
            </li>
            <li>Perform other related services as may become necessary.
            </li>
        </ul>
    </article>

    <article class="section">
        <h3>HOW WE DISCLOSE YOUR INFORMATION
        </h3>
        <p>
            Our aim of all social integration remains for seamless accessibility and this aim can
            never be
            compromised in any way or another. We may share information we have collected about you
            in
            certain situations as permitted or required by any applicable law, rule, or regulation,
            if we believe
            it is necessary to respond to legal process or investigate or remedy potential
            violations of our
            policies, or for fraud protection or to protect the rights, property, and safety of
            others. We may
            also share your information with third parties for marketing purposes as permitted by
            law or
            other users of our website who may see your name or profile photo when you post your
            comments, likes or chat with other users etc. The third party could be established
            outside the
            EU/EEA but no personal data will be transferred to a third party unless they are bound
            to us by
            appropriate contractual agreements which satisfy the requirements of the General Data
            Protection Regulation (GDPR) that deals with export of personal data outside of the
            EU/EEA.
            From time to time we may provide your information to our customer service agencies for
            research and analysis so that we can monitor and improve the services we provide. We may
            contact you by email to ask you for your feedback and comments on our services. We may
            also
            wish to provide you with information about special features of our website or any other
            service or product we think may be of interest to you. If you would rather not receive
            this information,
            please send a blank e-mail message to Bosshalls.com.
            We may also want to provide you with related information from third parties we think may
            be of
            interest to you like third-party advertising companies. These companies may use
            information
            about your visits to our website that are contained in web cookies in order to provide
            advertisements about goods and services of interest to you. If you would rather not
            receive this
            information, please send an email to mysupport@bosshalls.com.
            Where we go out of business or become bankrupt, your information would be an asset
            transferred or acquired by a third party and we shall not be responsible for the actions
            of third
            parties with whom you share personal or sensitive data. If you no longer wish to receive
            correspondence, emails or other communications from third parties, it will be your
            responsibility
            to contact such third parties directly.
        </p>
    </article>

    <article class="section">
        <h3>USE OF COOKIES AND OTHER INFORMATION GATHERING TECHNOLOGIES
        </h3>
        <p>
            We may use cookies, web tokens and other tracking technologies to help customize the
            site and
            improve your browsing experience. Cookies are text files with small pieces of data like
            a
            username and password that are used to identify your computer as you use a computer
            network.
            Specific cookies known as HTTP cookies are used to identify specific users and improve
            your
            web browsing experience. JSON Web Token (JWT) is a means of representing claims to be
            transferred between parties. The claims in a JWT are encoded as a JSON object that is
            digitally
            signed using JSON Web Signature (JWS) and/or encrypted using JSON Web Encryption (JWE).
            Browsers are set to accept cookies by default but you can remove or reject them. If you
            remove
            or reject cookies, it could affect the availability and functionality of the site. By
            clicking “Accept
            Cookies”, you consent to store on your device all the technologies described in our
            cookies
            policy. You can change your cookies settings at any time by clicking “Cookies
            Preferences”.
            We may use third-party software to serve ads on the website or partner with third party
            vendors
            like Google to allow tracking technologies and remarketing services on the Site. This
            third-party
            software or vendors may use cookies or similar tracking technology to help manage and
            optimize
            your online experience with us. By accessing our website, you consent to the collection
            and use
            of your information by these third-party vendors. You are encouraged to review their
            privacy
            policy and contact them directly for responses to your questions. We do not transfer
            personal
            information to these third-party vendors. Please be aware that the third-party websites
            may
            contain links that are not affiliated to us and we are not responsible for the content
            or privacy
            policies of any third parties, including other sites, services or applications that may
            be linked to
            them. Once you have used the links to leave our website, we cannot guarantee the safety
            and
            privacy of your information. You are encouraged to take steps necessary to protect the
            privacy of
            your information before accessing such links.
            You should be aware that getting a new computer, installing a new browser, upgrading an
            existing browser, or erasing or otherwise altering your browser’s cookies files may also
            clear
            certain opt-out cookies, plug-ins, or settings.
        </p>
    </article>

    <article class="section">
        <h3>HOW WE PROTECT YOUR INFORMATION</h3>
        <p>
            We use administrative, technical, and other security measures to help protect your
            personal
            information like the use of username and password, browser certification technology
            (cookies,
            web token) or other tracking technologies. While we have taken reasonable steps to keep
            your
            personal information confidential, please be aware that the internet is not a secure
            medium and as such, despite our efforts and internal procedures to keep your personal
            information confidential, no security measures are perfect or impenetrable, and no
            method of data transmission can be guaranteed against any interception or other type of
            misuse by unauthorized parties. Therefore,
            we cannot guarantee complete security if you provide personal information to third
            parties using
            their links or external links attached to them. We do not collect information or market
            to children
            under eighteen years. If you become aware of any data we have collected from such
            children,
            Please contact us using our contact details below.
        </p>
    </article>

    <article class="section">
        <h3>UPDATING YOUR DETAILS
        </h3>
        <p>
            You may at any time review or change the information in your account by visiting your
            customized user profile page to add and edit your data like location, interest, bio,
            name and
            profile picture. This page and user information is never available to any third party
            whatsoever.
            However, if any of the information that you have provided to us changes, for example if
            you
            change your email address or name or telephone number or any other details, please let
            us know the correct details by sending an email to Bosshalls.com.
            If you no longer wish to receive correspondence, emails, or other communications from
            third
            parties, you are responsible for contacting the third party directly.
        </p>
    </article>

    <article class="section">
        <h3>YOUR PRIVACY RIGHTS
        </h3>
        <p>
            Pursuant to the Nigeria Data Protection Regulation 2019 (NITDA Regulation), as Nigerian
            citizen, you have the right to request and obtain at any time without delay and free of
            charge,
            information relating to processing of your personal data, or to delete such data or to
            obtain
            restriction of processing of your personal data or to transmit your personal data from
            us to
            another data controller where technically feasible. Additionally, you have the
            corresponding
            right where you feel that we have not responded appropriately, to lodge a complaint with
            the
            National Information Technology Development Agency (NITDA) or any other relevant and
            competent data protection authority as the case may be.
        </p>
    </article>

    <article class="section">
        <h3>YOUR CONSENT</h3>
        <p>
            By submitting your information you consent to the use of that information as set out in
            this
            policy. If we change our privacy policy we will post the changes on this page, and may
            place
            notices on other pages of the website, so that you may be aware of the information we
            collect
            and how we use it all the time. We will also email you should we make any changes so
            that you
            may consent to our use of your information in that way. Continued use of the service
            will signify
            that you agree to any such changes.
        </p>
    </article>

</main>

<app-footer></app-footer>
