@import "src/variables";

footer {
    padding-bottom: $padding;
}

.root-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        margin: auto;
        padding: 2em;
        font-size: 0.5em;

        @media (min-width: 48em) {
            font-size: 1em;
        }
    }

    .social-media {
        display: flex;
        align-items: center;

        li a {
            display: inline-flex;
            align-items: center;
            box-sizing: content-box;
            color: $link;
            background-color: lighten($link, 32%);
            border-radius: 50%;
            padding: 0.5em;
            margin-left: $margin / 2;

            &:link, &:visited, &:hover {
                color: $link;
            }
        }
    }
}