<footer>
    <div class="root-container">
        <img src="assets/img/logo.jpg" class="logo" alt="">
        <span class="links">
            &copy; 2021 Bosshall. All rights reserved. <a [routerLink]="['/terms']">Terms</a>
            and <a [routerLink]="['/policy']">Privacy Policy</a>.
            <a [routerLink]="['/article/contact']">Contact Us</a>
        </span>
        <ul class="social-media">
            <li>
                <a href="http://instagram.com/bosshallsblog/">
                    <svg class="svg-icon">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/bosshalls">
                    <svg class="svg-icon">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="http://web.facebook.com/bosshalls">
                    <svg class="svg-icon">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>
