<div class="article-text" id="contact-us">
    <h3 id="what-help-do-you-need">What help do you need?</h3>
    <ul>
        <li><p>Signing Up</p></li>
        <li><p>Logging In</p></li>
        <li><p>User / Brand Account</p></li>
        <li><p>Home</p></li>
        <li><p>Spread</p></li>
        <li><p>Cloud</p></li>
        <li><p>Random</p></li>
    </ul>

    <p id="our-support">Our support team is always here to address extreme issues.for extreme issues,drop off your
        issue for support on <a href="mailto:mysupport@bosshalls.com">mysupport@bosshalls.com</a> we’ll respond as quickly as possible.</p>

    <p>You can be the first to know about our latest news, blockbuster potential product, tricks twitter/@bosshalls Blog</p>
</div>