<div class="article-text">


<h3 id="using-bosshall">How do i sign up and login?</h3>
        <h4>Getting Started</h4>
        <p>On your device browser,click in bosshalls.com it navigates you to bosshalls log in and sign up.click on sign up button if you joining newly but go to log in if you already joined.clicking on the sign up button lets you put in your mail and password,verify you are human,check the terms and condition box then sign up.pop up notification lets you know how your registration experience was.</p>
        <p>Go to your mail and confirm registration.</p>
        <p>Confirmation navigates you to bosshalls log in.Then log in correctly and explore.</p>

        <h4>Is my data on bosshalls safe?</h4>
        <p>Your data on bosshalls is absolutely safe with us.bosshalls will restrict your data from third party.</p>
        <h4>Why can’t i create a spread?</h4>
        <p>You can’t create spread content either because you are not a brand rep or designer or you didn’t register your brand on bosshalls.ie you run only a  user account on bosshalls.</p>
        <p>I own more than one brand.can i register all of them on bosshalls to scale my operations? Yes you can.creating brand account on bosshalls is limitless.see using bosshalls to know how you can create and run multiple brand account on bosshalls.</p>
        <h4>How can I edit my brand and user profile?</h4>
        <p>To edit your profile,kindly go to your home,on the toolbar go to your ID icon “Me”tap on it to see a drop down that contain update profile tap on it to navigate you to your user profile.you can edit and save.</p>
        <p>Go to your toggle brand box right on your homepage.click on your brand logo.it navigates you to your brand page.use edit button at the top left of your brand to edit profile and save.</p>
        <h4>Must my Brand Executive have knowledge of their representation on my brand profile?</h4>
        <p>Yes.it’s necessary that they have knowledge to this kind of activity for security and privacy right reasons.again they should be aware of their brand online activities as executives.once bosshalls notifies them via mail and popups,they can accept or decline this honour.</p>
        <h4>My bosshalls user account is active but i can’t follow another user.</h4>
        <p>You can’t follow another user as a user.on bosshalls user account follow brand account.brand account follow brand account.user account can’t be followed.</p>
        <h4>How many brands can i follow?</h4>
        <p>You can follow limitless brands</p>
        <h4>How many brands can my brand follow?</h4>
        <p>Brands can follow limitless brands as well.</p>
        <h4>What’s the brand story on brand profile and why’s it relevant?</h4>
        <p>Bosshalls believe in motivation as well.so we know that telling a short story behind the success of your brand or telling a story behind its establishment will impact the majority of your audience a big deal.so motivation and lessons makes it relevant.</p>
        <h4 id="rules">What’s this brand philosophers?</h4>
        <p>It's simply a representation of philosophers that helped a certain founder/founders break boundaries through their philosophy.audience can also adopt the same philosophy for self development..</p>
        <h4>Why should I represent my executives on my brand profile?</h4>
        <p>You should represent your executives on your brand account for transparency and information to your audience and mostly your potential market.80% or more in terms of market like to know who’s behind the product and service they consume.</p>
        <h4>What happens if I toggle a brand on or off?</h4>
        <p>You activate a brand if you toggle it on which means you followed a brand and is eligible to see and join them in their cloud activities.toggle off to deactivate and unfollow brand.it means disassociating yourself from brand activities.</p>
        <h4>How do I navigate to a brand profile?</h4>
        <p>On your home,go to your brand toggle box.click on the brand logo to navigate to account.click on brand logos to navigate to account.</p>
        <h4>How do I differentiate old  and new spread on my home broadcast section?</h4>
        <p>Once you see a spread with a spread icon on the surface it’s an upcoming broadcast.you can click on it to access it and weigh in the engagement and signup if you choose to.the spread with iconless surface is an aired spread therefore its old.</p>
        <h4>What does the user data on spread represent?</h4>
        <p>At first an upcoming spread with data on it represents the number of subscribers.but after the spread was broadcasted,the user data on it represents the attendance data.</p>
        <h4>Why is graphicals called spread?</h4>
        <p>Bosshalls lets  brands use graphical images to send announcements to their global audience and for this announcement to reach wider audience it needs to spread across.</p>
        <h4>Who design spread?</h4>
        <p>You have to be a designer or a brand rep behind a brand account to design spread to brands.</p>
        <h4>Can a designer be a  chief host?</h4>
        <p>Yes a designer can.but on bosshalls,designers are on default chief host of events. in a case where a brand assign or hires a host for an event,the designer will have to use the key icon on subscriber to cancel the default chief host and invite the assigned or hired host</p>
        <h4>can a user behind brand account or a designer be a guest or an audience?</h4>
        <p>The user behind a brand account is referred to as designer and such user is the same as other users but just that he/she is behind a brand makes it the only difference so such user can be a guest,audience and chief host.</p>
        <h4>How can i join a broadcast?</h4>
        <p>First signup on the spread you intend to attend.on the day of broadcast,bosshalls will help recall your attention.on your homepage>broadcast section>locate the spread content with spread icon on its face(or use filter)>find and select spread you intend to attend>then click on signup again to join cloud.incase you haven't signed up for the program before,follow the same procedure>click on signup to register on prompt then click on signup again to join cloud.</p>


        <h4 id="faq">What’s a rebroadcast and how can i make one?</h4>
        <p>A rebroadcast is a recorded version of an original broadcast.you are eligible to create one only as a chief host.no other user can.as you commence a broadcast,use rebroadcast button on your screen to start creating one for your audience to consume.</p>
        <p>Rebroadcast are on default on spread content.you can always access it whenever.</p>
        <p>What happens when a brand host fail to grant access to my airing and incognito request? First it's your right to request any privileges from a brand.but should you not get the privilege you desire and deserve,place a report to bosshalls. the support team is here to mediate on user’s behalf and give them feedback on issues like this.we always believe that your attention should be addressed first in relationship issues with brands you follow here on bosshalls.</p>

</div>