<footer>
    <div class="root-container">
        <img src="assets/images/logo.jpg" class="logo" alt="">
        <span>&copy; 2021 Bosshalls. All rights reserved</span>
        <ul class="social-media">
            <li>
                <svg class="svg-icon">
                    <use xlink:href="#instagram"></use>
                </svg>
            </li>
            <li>
                <svg class="svg-icon">
                    <use xlink:href="#twitter"></use>
                </svg>
            </li>
            <li>
                <svg class="svg-icon">
                    <use xlink:href="#facebook"></use>
                </svg>
            </li>
        </ul>
    </div>
</footer>
