.participants-lists {
  width: 254px;
}

.participant-main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.participants-lists,
.participant-main-container {
  height: 100%;

  .participant-messages {
    width: calc(100% - 254px);
  }

}