#app-sendcode-component, app-forgotpass-component {
  background: url('/assets/img/background3.jpeg') no-repeat !important;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 100%;

  &:before {
    //background: rgba(map_get($colors, primary), 0.5);
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    background: rgba(map_get($colors, light), 0.96);

  }

  .row {
    height: 100vh;
    margin: 0;

    [class*=col-] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;

      .box {
        padding: 0 5%;
        @include border-radius(5px);
        // background:map_get($colors,white);
        //border:1px solid map_get($colors,lightSmoke);
        //@include box-shadow(2px 2px 2px rgba(map_get($colors,dark),0.25));
        position: relative;
        z-index: 50;
        margin: 0 auto;

        .card-title {
          @include font(13px, 600);
          color: map_get($colors, primary);
        }

        .logo {
          background: url('/assets/img/logo.png') no-repeat;
          background-size: 40px 40px;
          height: 40px;
          width: 40px;
          margin: 0 auto;
        }

        .loginForm {
          padding: 5%;

          .didYou {
            color: map_get($colors, dark);
            margin-top: 40px;
            line-height: 13px;
            text-align: center;
            @include font(13px, 400);
          }

          .enterit {
            width: 70%;
            margin: 0 auto 40px;
            @include font(13px, 400);
            line-height: 13px;
            text-align: center;
            color: map_get($colors, smoke);

          }

          label {
            width: 100%;
            margin: 10px auto;
            height: 40px;

            input {
              color: map_get($colors, darkSmoke);
              @include font(11px, 600);
              @include placeholder(dark, 11px, 300);

            }
          }

          button {
            @include border-radius(8px);
            width: 70%;
            display: block;
            margin: 30px auto;
            background-color: map_get($colors, danger);
            @include font(11px, 600);

            &:focus, &:hover {
              @include box-shadow(1px 0px 2px rgba(map_get($colors, dark), 0.25));
            }
          }

          .forgotLink {
            width: 100%;
            text-align: right;
            @include font(12px, 600);
            color: map_get($colors, secondary);
          }
        }

        p {
          color: map_get($colors, darkSmoke);
          @include font(13px, 400);

          a {
            color: map_get($colors, secondary);

            &:focus, &:hover, &.visited {
              text-decoration: none;
            }
          }
        }

        .footerWriteup {
          text-align: center;
          width: 70%;
          margin: 40px auto 0;

          a {
            color: map_get($colors, secondary);

            &:focus, &:hover, &.visited {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .form-body {
    width: 100%;
    min-height: 50vh;
    max-width: 440px;
    background: map_get($colors, white);
    border: 1px solid rgba(map_get($colors, platformColor), 0.4);
    padding: 30px 20px 0;
    @include border-radius(3px);

    h2 {
      font-size: 26px;
      text-align: center;
      padding-bottom: 10px;
    }

    .btn {
      margin: 25px 0;
      width: 100%;
      text-transform: uppercase;
    }

  }

  .captcha-holder {

  }

  .haveacode {
    font-weight: 300;
    font-size: 12px;
  }
}
