<footer>
   <div class="footer-container">
        <div class=" page-constraint">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-5 col-12">
                    <div class="footer-image">
                        <img alt="Bosshall Logo" [src]="'/assets/img/logo-transparent.png'" width="100">
                    </div>
                    <div class="footer-image-social">
                        <a href="https://www.facebook.com/bosshalls">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/bosshalls">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://instagram.com/bosshallsblog/">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-9 col-lg-9 col-sm-7 col-12">
                    <div class="link-parent-container">

                        <div class="link-container">
                            <div class="row">
                                <div class="col-6">
                                    <a href="/#/article/faq">FAQ</a>
                                    <a href="/#/">Terms</a>
                                </div>
                                <div class="col-6">

                                    <a href="/#/">Privacy</a>
                                    <a href="/#/article/help">About</a>
                                </div>
                            </div>

                            <div class="link-buttons">
                                <a class="button" href="/#/article/contact">Contact Us</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-container-min">
        <p>
            Alright reserved &copy; Bosshalls 2020
        </p>
    </div>

</footer>
