<div class="editor-container" fxLayout="column" fxLayoutAlign="space-between">
    <div #tuiElement id="tui-image-editor"></div>

    <div class="padding-top-20" fxLayout="row" fxLayoutAlign="flex-end">

        <button (click)="cancel()" class="button btn-custom danger-bg light mat-elevation-z2" type="button">Cancel
        </button>
        <button (click)="save()" class="button btn-custom primary-bg light margin-left-10 mat-elevation-z2"
                type="button">Done
        </button>
    </div>

</div>
