 <div class="article-text">
         <h3 id="who-we-are">WHO CAN USE BOOSHALLS</h3>

         <p>You can always use our services as long as you agree to our terms and is not in any way restricted of using such service in the country we operate by laws of applicable jurisdiction.the age eligibility is from 13 years old to infinity.if you are using these services by representing any entity or organisation(brand) you must abide by the rules of authenticity by using your accurate information in your user account.by signing to these terms,you represent and warrant to represent the brand and bind your brand to this terms.</p>

         <h3>USER - BRAND ACCOUNT AUTHENTICITY</h3>

         <p>Bosshalls operates with user account and brand account.by signing this agreement with bosshalls you automatically agree to field in your accurate information especially when it comes to your headline and bio.we’ll always protect your information as pledged on our privacy policy.</p>
         <p>Brand account must house a legitimate information on their profile upon signing this agreement including no AKAs on brand executive identity and agree that their brand profile will be available to users on bosshalls.bosshalls will take up audition on your brand if your respective executives hesitate to confirm their executive request mail sent to them by their brand representatives.signing this terms means you agree to our proposed audit on your brand if you delay on fielding your website two weeks after creating your brand profile.</p>


         <h3 id="content">CONTENT</h3>

         <p>
                 Users and brands are solely responsible for the content they share on our platform.
                 Designers are mandated to share accurate information on their spread to avert all forms of mischievous activity for bosshalls will have to intervene if necessary.
                 Information shared on the cloud is the responsibility of parties at the sending and receiving end but in any case whereby any party faults any form of content by warnings or report,the faulting party be it brand or user should respect the opinion of the faulted for bosshalls will intervene upon receiving such content violation report.</p>


         <h3 id="general">GENERAL</h3>

         <p>We’ll always update this terms of service from time to time.the latest ToS might not be enacted immediately or affect the old terms which represents our relationship with you.</p>
         <p>It’s our obligation to keep you updated on the latest version of  our ToS via your email or notification service.</p>
         <p>Continuation of accessing or using our services after the new version is being enacted simply means you are now agree and bound with the new terms of service.</p>
         <p>These terms are an agreement between you and bosshalls.inc,contact us on support@bosshalls.com if you have any questions in regards.</p>

         <p><strong>Effective January 1st 2020</strong></p>

         <h3 id="rules">RULES</h3>

         <p>Infringement, abuse and racist behaviour is not acceptable.</p>
         <p>Sharing of content against brands ethics is highly unacceptable for report will attract huge consequences.</p>
         <p>Audience has full right to be granted access to incognito request and should place a report on brands if indiscriminately denied.</p>
         <p>Brands will always take action on audience who abuse the privileges given to them on their cloud but should also place a  report to bosshalls disciplinary team to take action if issue persists.</p>
         <p>Brands should always endeavour to represent their executives on their profile to ensure and uphold credibility and transparency.</p>

 </div>
