<div class="modal is-active" #modal>
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <img src="assets/img/logo.jpg" class="logo" alt="">
            <h2>Tell us what you're interested in</h2>
        </header>
        <section class="modal-card-body">
            <div class="interests">
                <ul class="interests-list">
                    <li class="thumb"
                        *ngFor="let item of (interests| doubleSearchFilter:filter.value); let i=index"
                        [ngClass]="item.selected?'active':''" (click)="pushInterest(item)"
                        style="--image: url('/assets/img/thumb3.jpg')">
                        <div style="width: 100%">
                            <h5 *ngIf="!item.selected" class="interests-text"
                                style="font-style: italic;">
                                {{item.name}}
                            </h5>
                            <h5 (onMenuOpen)="searchBrands(item.id)" *ngIf="item.selected"
                                [matMenuTriggerFor]="interests" class="interests-text"
                                style="cursor: pointer; font-weight: bold">
                                {{item.name}}
                            </h5>
                            <mat-menu #interests="matMenu" class="interests-menu-trigger">
                                <div *ngFor="let brand of interestBrands; let i = index"
                                     class="follow-container" fxLayout="row"
                                     fxLayoutAlign="space-between center" mat-menu-item><span
                                          [routerLink]="'/bl/brand'">{{brand.name}}</span>
                                    <button (click)="followBrand(brand.id, item.id, brand.selected)"
                                            class="btn-custom danger-bg light mat-elevation-z2"
                                            type="button">{{brand.selected?'Unfollow':'Follow'}}
                                    </button>
                                </div>
                            </mat-menu>
                        </div>
                        <span class="check" [class.off]="!item.selected" [class.on]="item.selected">
                            <svg class="svg-icon">
                                <use xlink:href="#check"></use>
                            </svg>
                        </span>
                    </li>
                    <li *ngIf="!interests.length" class="text-align-center">
                        No interest available yet.
                    </li>
                </ul>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-link btn1" (click)="closeModal(modal)">Done</button>
            <button class="button no-border" (click)="closeModal(modal)">Take me to my
                profile</button>
        </footer>
    </div>
</div>
