<app-nav></app-nav>

<app-banner [text]="'Terms and conditions'"></app-banner>

<main id="terms" class="root-container section">

    <article class="section">
        <h3>Whom we are</h3>
        <p>
            Bosshalls.com is a public beta release streaming platform. It simply means that the
            company
            is open for the industry we are solving a pain point for, rather than specific brands
            from the
            industry. Our service is not at the level of performance of a commercially available
            offering
            and may not operate correctly but would be massively and vastly optimized prior to first
            commercial release.
        </p>
    </article>

    <article class="section">
        <h3>License grant and restrictions</h3>
        <p>
            Subject to the terms and conditions of this agreement, we grant media brands and
            audience a
            non-exclusive license to use our services for a period designated by us for the purpose
            of
            testing and evaluating our services. Users are explicitly licensed to access the client
            side of
            the services. This limited license is solely for the streaming platform testing
            exploration
            purposes which only allows you to use bosshalls.com URL to access the services via your
            browser. Under this agreement you may not sell, license or transfer the streaming web
            app or
            reproductions of the app to other third parties in any way.
        </p>
    </article>

    <article class="section">
        <h3>Disclaimer of liability for content on our website</h3>
        <p>
            We are providing this website on an “as is” basis and makes no representations or
            warranties
            of any kind and brands with respect to this website or its contents and disclaims all
            such
            representations and warranties. In addition, we make no representations or warranties
            about
            the accuracy or completeness of the contents contained in this website or that the
            website will
            be uninterrupted, free from viruses or error-free. All our liability howsoever arising
            for any
            such inaccuracies or errors is expressly excluded to the fullest extent permitted by
            Law. We
            shall not be liable for loss of data, business interruption or any indirect or
            consequential,
            punitive, special or exemplary damages arising out of or in connection with the use of
            this
            website and claims of third parties except as may be permitted by Law.
        </p>
    </article>

    <article class="section">
        <h3>Indemnity for user uploaded material</h3>
        <p>
            You agree fully to indemnify, defend and hold us harmless from and against all claims,
            liability, damages, losses, costs and expenses, including reasonable legal fees, arising
            out of
            any content or material uploaded or transmitted by you through the website or any non-
            compliance with or breach of the terms of this disclaimer by you or any other
            liabilities
            arising out of your use of this website, or the use by any other person accessing the
            website
            using your personal data and information.
        </p>
    </article>

    <article class="section">
        <h3>External websites</h3>
        <p>
            We do not accept any responsibility for the content of any external websites which may
            link
            to our website. We do not have any control over external websites, and you are solely
            responsible for complying with the terms of those websites. By accessing such external
            websites, you accept and undertake to us that you have chosen to enter website at your
            sole
            discretion and risk. You accept and acknowledge that Bosshalls does not directly or
            indirectly recommend the contents of such websites. By accessing such linked external
            websites, you will be subject to their data protection and privacy policies or practices
            and
            other content.
        </p>
    </article>

    <article class="section">
        <h3>Ownership rights</h3>
        <p>
            Bosshalls is the proprietor and licensee of this website in Nigeria and all other
            trademarks,
            brand names, product names, titles and copyrights used in this website are trade marks,
            brand
            names, product names or copyrights of their respective holders. No permission is given
            by
            bosshalls.com in respect of the use of any of them and such use may constitute an
            infringement of the holder’s rights.
        </p>
    </article>

    <article class="section">
        <h3>Website changes</h3>
        <p>
            We shall be entitled to change, alter, modify or withdraw this website including any
            applicable terms and conditions at any time. We will notify you of any changes via all
            social
            channels, blog and on the streaming service. Your continued use of the website following
            any
            change shall be deemed your acceptance of the change to this website.
        </p>
    </article>

    <article class="section">
        <h3>Your feedback</h3>
        <p>
            We expect media brands and recipients to give us adequate feedback as they consume the
            services during and after the beta period through our communication channels and social
            network channels. However, in as much as our support team will always be committed to
            support media brands and their global audience to better their experience with our
            website,
            we shall not be liable for any form of delay in support provisions to any media brand.
        </p>
    </article>

    <article class="section">
        <h3>Termination</h3>
        <p>
            We may choose to terminate your use or access of any part of our website at any time and
            without further notice if you are in breach of this disclaimer together with our terms
            and
            conditions or for any other reason. We reserve our rights to cease operating this
            website at
            any time and without further notice to you or any third party.
        </p>
    </article>

    <article class="section">
        <h3>Entire Agreement</h3>
        <p>
            This disclaimer together with our terms and conditions and rules as may be amended from
            time to time on this website constitutes the entire agreement between us and you in
            relation
            to use of our website and supersedes all previous agreements in respect of your use of
            our
            website.
        </p>
    </article>

    <article class="section">
        <h3>Compliance with terms</h3>
        <p>
            This website may be used only for lawful purposes and manner, subject always to our
            terms and conditions. By accessing and using our website, you agree to comply with
            all terms and conditions, all applicable laws, regulations and transactions conducted
            on or through the website.
        </p>
    </article>

    <article class="section">
        <h3>Governing Law</h3>
        <p>
            The disclaimer together with our terms and conditions is governed by Laws of the
            Federal Republic of Nigeria. Any dispute which cannot be resolved between us, shall be
            subject to the jurisdiction of a competent court of law.
        </p>
    </article>

</main>

<app-footer></app-footer>
